
           <div class="row my-5">
            <div class="col">
              <table class="table bg-white rounded shadow-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col" width="50">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col">removeIcon</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% contacts.forEach((contact,index)=>{  %>
                    
                    <tr>
                      <td><%= index+1 %> </td>
                      <td><%= contact.name %></td>
                      <td><%= contact.email %></td>
                      <td><%= contact.address %></td>
                      <td><%= contact.description %></td>
                      <td>removeIcon</td>
                    </tr>

                  <% }) %>

                </tbody>
              </table> 
            </div>
          </div>