
           <div class="row my-5 booking" id="rejected-booking">
            <div class="col">
              <table class="table bg-white rounded shadow-sm table-hover">
                <thead>
                  <tr>

                    <th scope="col">S.N</th>
                    <th scope="col" width="50">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Bus Name</th>
                    <th scope="col">Bus No</th>
                    <th scope="col">Creator Name</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Message</th>
                    <th scope="col">Remove</th>
                    th
                  </tr>
                </thead>
                <tbody>
                  
                  <% bookings.forEach((booking,index)=>{  %>
                    
                    <tr>
                      <td><%= index+1 %> </td>
                      <td><%= booking.name %></td>
                      <td><%= booking.email %></td>
                      <td><%= booking.phone %></td>
                      <td><%= booking.bookingFor.name %></td>
                      <td><%= booking.bookingFor.busNo %></td>
                      <td><%= booking.createdBy.name %></td>
                      <td><%= booking.from %></td>
                      <td><%= booking.to %></td>
                      <td><%= booking.message %></td>
                      <td><i class="fa fa-trash remove-btn" aria-hidden="true" id=<%=booking._id%> ></i></td>
                    </tr>

                  <% }) %>

                </tbody>
              </table> 
            </div>
          </div>